.section-one{
    background-color: #F2F2F2;
}
.section-one .container .row .col-3 .inner{
    font-size: 13px;
}
.section-one .container .row {
    text-align: center;
}
.section-one .inner-box{
    padding: 15px;
    background-color: white;
}
.section-one .inner-box{
    padding: 15px;
    background-color: white;
}
.section-one .inner-box .inner{
    font-size: 10px;
}